<%- include('partials/navigation.ejs', {activePage: 'home'}) %>

<!-- different language welcome message -->
<h1>Welcome</h1>
<h1>Witaj</h1>
<h1>Bonjour</h1>
<h1>Merhaba</h1>
<h1>Hola</h1>
<h1>Hello</h1>

<%- include('partials/footer.ejs') %>