<%- include('partials/navigation.ejs', {activePage: 'narzedzia'}) %>

<section id="narzedzia">

    <h1>Narzędzia wykorzystywane w przemyśle</h1>

    <p>Przemysł to rozległy sektor, który obejmuje wiele różnych gałęzi. W każdej z nich wykorzystywane są różne narzędzia, które pomagają w produkcji i innych procesach.</p>

    <h2>Rodzaje narzędzi przemysłowych</h2>

    <ul>
        <li>Narzędzia ręczne: młotki, śrubokręty, piły, szczypce itp.</li>
        <li>Narzędzia elektryczne: wiertarki, szlifierki, wkrętarki itp.</li>
        <li>Narzędzia pneumatyczne: młoty pneumatyczne, klucze pneumatyczne itp.</li>
        <li>Narzędzia hydrauliczne: podnośniki hydrauliczne, prasy hydrauliczne itp.</li>
        <li>Narzędzia pomiarowe: suwmiarki, mikrometry, liniały itp.</li>
        <li>Narzędzia spawalnicze: spawarki, palniki, elektrody itp.</li>
        <li>Narzędzia do obróbki skrawaniem: tokarki, frezarki, wiertarki itp.</li>
        <li>Roboty przemysłowe</li>
        <li>Drukarki 3D</li>
    </ul>

    <h2>Zastosowanie narzędzi przemysłowych</h2>

    <p>Narzędzia przemysłowe są wykorzystywane do różnych celów, m.in.:</p>

    <ul>
        <li>Montażu i demontażu maszyn i urządzeń</li>
        <li>Obróbki metali, drewna i innych materiałów</li>
        <li>Pomiarów i kontroli jakości</li>
        <li>Spawania i lutowania</li>
        <li>Drukowania 3D</li>
    </ul>

    <h2>Dobór odpowiednich narzędzi</h2>

    <p>Wybór odpowiednich narzędzi przemysłowych zależy od wielu czynników, takich jak:</p>

    <ul>
        <li>Rodzaj wykonywanej pracy</li>
        <li>Materiał, z którym się pracuje</li>
        <li>Wymagana precyzja</li>
        <li>Budżet</li>
    </ul>

</section>

<%- include('partials/footer.ejs') %>