<%- include('partials/navigation.ejs', {activePage: 'o_nas'}) %>

<section id="o_nas">

    <h1>O nas</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget tortor risus. Cras ullamcorper massa sit amet lacus egestas, ac ultrices nisi tincidunt. Nunc accumsan, ipsum sed dignissim feugiat, risus nisl egestas massa, in pulvinar neque leo ac lectus. Fusce aliquam risus sit amet sapien venenatis, eget faucibus enim ultricies. Fusce aliquam risus sit amet sapien venenatis, eget faucibus enim ultricies.</p>

    <h2>Misja i wartości</h2>

    <ul>
        <li><strong>Misja:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li><strong>Wartości:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    </ul>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget tortor risus. Cras ullamcorper massa sit amet lacus egestas, ac ultrices nisi tincidunt. Nunc accumsan, ipsum sed dignissim feugiat, risus nisl egestas massa, in pulvinar neque leo ac lectus. Fusce aliquam risus sit amet sapien venenatis, eget faucibus enim ultricies. Fusce aliquam risus sit amet sapien venenatis, eget faucibus enim ultricies.</p>

    <h2>Zespół</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget tortor risus. Cras ullamcorper massa sit amet lacus egestas, ac ultrices nisi tincidunt. Nunc accumsan, ipsum sed dignissim feugiat, risus nisl egestas massa, in pulvinar neque leo ac lectus. Fusce aliquam risus sit amet sapien venenatis, eget faucibus enim ultricies. Fusce aliquam risus sit amet sapien venenatis, eget faucibus enim ultricies.</p>


</section>

<%- include('partials/footer.ejs') %>